.promo {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    background-image: url("src/images/background.png");
    background-color: rgb(4, 106, 4);

  p {
		color: white;
  	font-size: 28px;
		font-weight: 400;
		line-height: 30px;
		max-width: 343px;
		display: block;
		margin: 48px 18px 18px 16px;
	}

	span {
		display: block;
		margin: 0 18px 32px 16px;
		color: white;
		font-size: 18px;
		font-weight: 400;
		line-height: 20px;
	}
}