@mixin xxl {
	font-size: 40px;
	font-weight: 400;
	line-height: 44px;
}

@mixin xl {
	font-size: 32px;
	font-weight: 400;
	line-height: 35px;
}

@mixin l {
  	font-size: 26px;
	font-weight: 400;
	line-height: 28px;
}

@mixin m {
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}

@mixin s {
	font-size: 21px;
	font-weight: 400;
	line-height: 23px;
}

@mixin xs {
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	color: #3D4548;
}

@mixin left-header {
	min-width: 210px;
	margin: 0;
	color: #909090;
}

@mixin button-white {
  	@include xs;
	padding: 17px 62px;
	background-color: white;
	border: 1px solid #499647;
	color: #282828;
}

@mixin button-green {
	@include xs;
	padding: 17px 62px;
	background-color: #499647;
	border: 1px solid white;
	color: white;
}

@mixin icon {
	display: block;
	width: 61px;
	height: 61px;
}

@mixin img {
	object-fit: cover;
	width: 100%;
	height: auto;
}

@mixin ul {
	list-style-type: none;
	padding: 0;
}

@mixin a {
	text-decoration: none;
	color: #EAEEF1;
}

@mixin box-with-left-header {
	display: flex;
	justify-content: space-between;
}

@mixin right-box {
	display: flex;
	flex-direction: column;
	max-width: 872px;
}

@mixin big-p {
	@include xl;
	margin: 0 0 24px 0;
	color: #282828;
}

@mixin top-border {
	border-top: 1px solid #EAEEF1;
}

