@mixin font-normal {
	font-weight: 400;
}

@mixin font-medium {
	font-weight: 500;
}
@mixin font-bold {
	font-weight: 700;
}

@mixin font-strong {
	font-weight: 800;
}

@mixin xxl {
	font-size: 40px;
	line-height: 44px;
	@include font-normal;
}

@mixin xl {
	font-size: 32px;
	line-height: 35px;
	@include font-normal;
}

@mixin l {
  	font-size: 26px;
	line-height: 28px;
	@include font-normal;
}

@mixin m {
	font-size: 24px;
	line-height: 28px;
	@include font-normal;
}

@mixin s {
	font-size: 21px;
	line-height: 23px;
	@include font-normal;
}

@mixin xs {
	font-size: 16px;
	line-height: 21px;
	@include font-medium;
}

@mixin xxs {
	font-size: 14px;
	line-height: 16px;
	@include font-normal;
}

@mixin left-header {
	min-width: 210px;
	margin: 0;
	color: $grey-300;
}

@mixin button-white {
  	@include xs;
	padding: 17px 62px;
	background-color: $white;
	border: 1px solid $green;
	color: $grey-500;
}

@mixin button-green {
	@include xs;
	padding: 17px 62px;
	background-color: $green;
	border: 1px solid $white;
	color: $white;
}

@mixin icon {
	display: block;
	width: 61px;
	height: 61px;
}

@mixin person {
	display: block;
	width: 47px;
	height: 47px;
}

@mixin arrow {
	display: block;
	width: 36px;
	height: 36px;
}

@mixin img {
	object-fit: cover;
	width: 100%;
	height: auto;
}

@mixin ul {
	list-style-type: none;
	padding: 0;
}

@mixin a {
	text-decoration: none;
	color: $grey-100;
}

@mixin box-with-left-header {
	display: flex;
	justify-content: space-between;
}

@mixin right-box {
	display: flex;
	flex-direction: column;
	max-width: 872px;
}

@mixin big-p {
	@include xl;
	margin: 0 0 24px 0;
	color: $grey-500;
}

@mixin top-border {
	border-top: 1px solid $grey-100;
}

@mixin join {
	padding: 40px 24px;
	background-color: $green;
	color: $white;
}

