@mixin h4 {
  font-size: 26px;
	font-weight: 400;
	line-height: 28px;
}

@mixin button-white {
  	max-width: 343px;
	height: 52px;
	padding: 17px 62px;
	background-color: white;
	border: 1px solid #499647;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	color: #282828;
}

@mixin button-green {
	max-width: 343px;
	height: 52px;
	padding: 17px 62px;
	background-color: #499647;
	border: 1px solid white;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	color: white;
}

@mixin icon {
	display: block;
	width: 61px;
	height: 61px;
}

@mixin img {
	object-fit: cover;
	width: 100%;
	height: auto;
}

@mixin h6 {
	font-size: 21px;
	font-weight: 400;
	line-height: 23px;
}

@mixin h5 {
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}

@mixin ul {
	list-style-type: none;
	padding: 0;
}

@mixin a {
	text-decoration: none;
	color: #EAEEF1;
}

@mixin left-header {
	min-width: 210px;
	margin: 0;
	color: #909090;
	font-size: 24px;
	font-weight: 400;
	line-height: 26px;
}

@mixin h3 {
	font-size: 40px;
	font-weight: 400;
	line-height: 44px;
}

@mixin box-with-left-header {
	display: flex;
	justify-content: space-between;
}

@mixin right-box {
	display: flex;
	flex-direction: column;
	max-width: 872px;
}

@mixin big-p {
	margin: 0 0 24px 0;
	font-size: 32px;
	font-weight: 400;
	line-height: 35px;
	color: #282828;
}

@mixin p-top-border {
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	color: #3D4548;
	border-top: 1px solid #EAEEF1;
}

@mixin p {
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	color: #3D4548;
}